[submodule "base"]
	path = base
	url = git@github.com:mmm3w/base.git
[submodule "adapter"]
	path = adapter
	url = git@github.com:mmm3w/adapter.git
[submodule "timetrace"]
	path = timetrace
	url = git@github.com:mmm3w/timetrace.git
[submodule "piledriver"]
	path = piledriver
	url = git@github.com:mmm3w/piledriver.git
[submodule "inputmeasure"]
	path = inputmeasure
	url = git@github.com:mmm3w/inputmeasure.git
